img {
		display:block;
		max-width:100%;
	}
.wrapper {
		display: grid;
		grid-template-columns: 1fr 5fr;
		grid-gap: 20px
		overflow: hidden;
		height: 100vh;
	}
.gallery {
			overflow: scroll;
			scroll-snap-type: x mandatory;
			
	}
.gallery_img {
				scroll-snap-align: start;
				margin-bottom: 10px;
				min-height:100vh;
				object-fit: cover;
	}
	
.ssnav {
			overflow-y: scroll;
			overflow-x: hidden;
	}
.ssnav a {
			height: 200px;
			display: flex;
			margin-bottom: 10px;
	}
.ssnav_img {
				object-fit: cover;
	}
	